@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS or in a module */
/* General map container styling */
.map-container {
    position: relative;
    width: 90vw;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for desktops */
    
  }
  
  /* Map fills the container */
  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .map-container {
      padding-bottom: 75%; /* Change to a taller ratio for mobile, 4:3 */
    }
  }
  
  @media (max-width: 480px) {
    .map-container {
      padding-bottom: 100%; /* Make the map square for very small screens */
    }
  }